.main {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heroSection {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.heroImage {
  width: 50vw;
  height: 100vh;
  aspect-ratio: 1;
  object-fit: cover;
}

.heroTextContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: auto;
}

.heroTitle {
  text-align: center;
  font-weight: 900;
  font-size: max(0.5em, min(5em, calc(100vw * 4 / 75)));
  line-height: 1.1275;
}

.heroSubtitle {
  font-weight: 800;
  font-size: max(0.122em, min(1.22em, calc(100vw * 4 / 75)));
  text-align: right;
  opacity: 0.56;
  padding-top: 2.25vh;
  padding-bottom: 7.75vh;
}

.downArrow {
  font-weight: 900;
  font-size: max(0.32em, min(3.2em, calc(100vw * 4 / 75)));
  transition: 700ms cubic-bezier(0.13, 0.53, 0.38, 0.97);

  background-color: rgb(32, 25, 16);
  color: rgb(241, 235, 223);
  padding: 1.45vh;
  border-radius: 50%;
}

.downArrow:hover {
  scale: 1.11275;
}

.bioSection {
  width: 95%;
  margin-inline: 2.5%;
  height: fit-content;
  padding-block: 7.5vh;
  min-height: 90vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.bioSectionTextContainer {
  width: 45%;
  height: fit-content;
  display: flex;
  flex-direction: column;
}

.bioTitle {
  font-weight: 800;
  font-size: max(0.25em, min(2.5em, calc(100vw * 4 / 75)));
  margin-bottom: 2.75vh;
}

.bioText {
  font-weight: 500;
  font-size: max(0.1325em, min(1.325em, calc(100vw * 4 / 75)));
  line-height: 1.5;
}

.sourceText {
  font-weight: 700;
  padding-top: 2.75vh;
}
