.main {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heroSection {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.heroImage {
  width: 50%;
  height: 100%;
  aspect-ratio: 1;
  object-fit: cover;
}

.heroTextContainer {
  display: flex;
  flex-direction: column;
  gap: 7.5vh;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: auto;
}

.heroTitle {
  text-align: center;
  font-weight: 900;
  font-size: max(0.5em, min(5em, calc(100vw * 4 / 75)));
  line-height: 1.1275;
}

.downArrow {
  font-weight: 900;
  font-size: max(0.34em, min(3.4em, calc(100vw * 4 / 75)));
  transition: 700ms cubic-bezier(0.13, 0.53, 0.38, 0.97);

  background-color: rgb(32, 25, 16);
  color: rgb(241, 235, 223);
  padding: 1.5vh;
  border-radius: 50%;
}

.downArrow:hover {
  scale: 1.11275;
}

.bioSection {
  width: 100%;
  height: calc(fit-content + 12vh);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
