::placeholder {
  color: rgba(32, 25, 16, 0.64);
}

.main {
  width: 95%;
  margin-inline: 2.5%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.leftContainer,
.rightContainer {
  width: 50%;
  display: flex;
}

.leftContainer {
  flex-direction: column;
}

.pageTitle {
  font-weight: 800;
  font-size: max(0.75em, min(7.5em, calc(100vw * 4 / 75)));
  line-height: 1.175;
  padding-bottom: 3vh;
  color: rgb(32, 25, 16);
}

.contactForm {
  flex: 1;
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 3.2vh;
}

.contactFormInput,
.contactFormTextarea {
  padding-block: 1.5vh;
  padding-inline: 1.2vw;
  border: 3.2px solid rgb(32, 25, 16);
  border-radius: 25px;
  width: calc(100% - (2.4vw + 6.4px));
  background-color: transparent;
  font-size: max(0.1em, min(1em, calc(100vw * 4 / 75)));
  font-weight: 600;
  outline: none;
  color: inherit;
  transition: 0.275s ease-in-out;
}

.contactFormTextarea {
  height: 24vh;
  border-radius: 20px;
  resize: none;
  font-size: max(0.1em, min(1em, calc(100vw * 4 / 75)));
  font-weight: 600;
}

.contactFormInput:focus,
.contactFormTextarea:focus {
  border: 3.2px solid rgb(91, 105, 134);
}

.contactSubmitButton {
  padding-block: 1.5vh;
  padding-inline: 1.2vw;
  border-radius: 24px;
  width: calc(100% - (2.4vw + 6.4px));
  text-align: center;
  background-color: rgb(32, 25, 16);
  font-size: max(0.1em, min(1em, calc(100vw * 4 / 75)));
  font-weight: 700;
  color: white;
  cursor: pointer;
  border: 3.2px solid rgb(32, 25, 16);
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.64);
}

.rightContainer {
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.image {
  width: 60%;
  aspect-ratio: 1;
  margin-inline: 20%;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 5vh;
}

.bottomContainer {
  width: 75%;
  margin-inline: 12.5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.officeLocation {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.officeLocationText {
  font-weight: 800;
  font-size: max(0.12em, min(1.2em, calc(100vw * 4 / 75)));
  margin-bottom: 1vh;
}

.contactDetails > .bold {
  font-weight: 700;
}

.contactDetails {
  margin-bottom: 0.5vh;
}
