.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contactForm {
  width: 42%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 3.2vh;
}

.pageTitle {
  font-weight: 900;
  font-size: max(0.5em, min(5em, calc(100vw * 4 / 75)));
  line-height: 1.125;
  text-align: center;
  width: 100%;
  padding-bottom: 1.6vh;
}

.contactFormInput,
.contactFormTextarea {
  padding-block: 1.5vh;
  padding-inline: 1.2vw;
  border: 3.2px solid rgb(32, 25, 16);
  border-radius: 25px;
  width: calc(100% - (2.4vw + 6.4px));
  background-color: transparent;
  font-size: max(0.1em, min(1em, calc(100vw * 4 / 75)));
  font-weight: 600;
  outline: none;
  color: inherit;
  transition: 0.275s ease-in-out;
}

.contactFormTextarea {
  height: 18vh;
  border-radius: 20px;
  resize: none;
  font-size: max(0.1em, min(1em, calc(100vw * 4 / 75)));
  font-weight: 600;
}

.contactFormInput:focus,
.contactFormTextarea:focus {
  border: 3.2px solid rgb(91, 105, 134);
}

.contactSubmitButton {
  padding-block: 1.5vh;
  padding-inline: 1.2vw;
  border-radius: 24px;
  width: calc(100% - (2.4vw + 6.4px));
  text-align: center;
  background-color: rgb(32, 25, 16);
  font-size: max(0.1em, min(1em, calc(100vw * 4 / 75)));
  font-weight: 700;
  color: white;
  cursor: pointer;
  border: 3.2px solid rgb(32, 25, 16);
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.64);
}
