.main {
  height: 101vh;
  width: 100vw;
  background-color: black;
  position: fixed;
  z-index: 1000000000;
  color: white;
}

.overlayBackground {
  width: 100vw;
  height: 101vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(8, 5.25, 4, 0.75);
}

.image {
  height: 80%;
  width: auto;
}
