.main {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(32, 25, 16);
}

.image {
  width: 75%;
  height: auto;
  box-shadow: 0px 0px 12px rgba(241, 235, 223, 0.5);
}
