.main {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.productSection {
  width: 95%;
  padding-inline: 2.5%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 3vw;
}

.openProductLeftContainer,
.openProductRightContainer {
  flex: 1;
  width: 50%;
  aspect-ratio: 1;
}

.openProductImage {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  cursor: pointer;
  background-size: 102.5%;
  background-position: center center;
  transition: 700ms cubic-bezier(0.13, 0.53, 0.38, 0.97);
  background-repeat: no-repeat;
}

.openProductImage:hover {
  background-size: 100%;
}

.openProductRightContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.openProductTitleContainer {
  display: flex;
  flex-direction: column;
}

.openProductTitle {
  font-weight: 900;
  font-size: max(0.5em, min(5em, calc(100vw * 4 / 75)));
  line-height: 1.125;
  margin-bottom: 2vh;
}

.openProductSubtitle {
  font-weight: 800;
  font-size: max(0.15em, min(1.5em, calc(100vw * 4 / 75)));
  opacity: 0.56;
  margin-bottom: 4.5vh;
}

.openProductDescriptionContainer {
  width: 64%;
}

.openProductDescription {
  font-weight: 500;
  font-size: max(0.135em, min(1.35em, calc(100vw * 4 / 75)));
  line-height: 1.75;
}

.openProductCategoriesContainer {
  display: flex;
  flex-direction: row;
  gap: 0.75vw;
  flex-wrap: wrap;
}

.category {
  width: fit-content;
  border-radius: 50px;
  background-color: rgb(32, 25, 16);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: 1vh;
  padding-inline: 1.75vw;
  color: rgb(241, 235, 223);
  font-weight: 600;
}

.openProductButtonsContainer {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 1.25vw;
}

.sizeButton {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-block: 1vh;
  padding-inline: 1.5vw;
  border-radius: 10px;
  border: 3.2px solid rgb(32, 25, 16);
  cursor: pointer;
}

.sizeSelect {
  background-color: transparent;
  color: rgb(32, 25, 16);
  border: none;
  outline: none;
  font-weight: 800;
  font-size: max(0.135em, min(1.35em, calc(100vw * 4 / 75)));
  padding-inline: 0;
  margin-inline: 0;
  width: 100%;
  cursor: pointer;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.twoButtonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1.25vw;
}

.quantityButton {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-block: 1vh;
  padding-inline: 1.75vw;
  border-radius: 10px;
  border: 3.2px solid rgb(32, 25, 16);
}

.quantityButtonText,
.toggle {
  font-weight: 800;
  font-size: max(0.135em, min(1.35em, calc(100vw * 4 / 75)));
}

.toggle {
  cursor: pointer;
}

.cartButton {
  flex: 1;
  cursor: pointer;
  background-color: rgb(32, 25, 16);
  width: fit-content;
  padding-block: 1vh;
  padding-inline: 1.75vw;
  border-radius: 10px;
  border: 3.2px solid rgb(32, 25, 16);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 700ms cubic-bezier(0.13, 0.53, 0.38, 0.97);
}

.cartButton:hover {
  transform: scale(1.035);
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.52);
  .icon {
    opacity: 1;
  }
}

.cartButton:active {
  transform: scale(0.9);
}

.cartButtonText {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  font-weight: 800;
  font-size: max(0.135em, min(1.35em, calc(100vw * 4 / 75)));
  color: rgb(241, 235, 223);
}
